@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/AnyConv.com__Gilroy-Regular.woff);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gilroy;
}
:root{
    --size: 1.7px;
    --out: -1.7px;
}
html,body{
    width: 100%;
    height: 100%;
}
#parent{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
#main{
    width: 100%;
    height: 100%;
    background-color: #898989;
    position: relative;
    overflow: hidden;
}
/* -------For Making Animation------- */

#box{
    width: 39.33vw;
    height: 25vh;
    background-color: rgba(153, 153, 153, 0);
    position: absolute;
    bottom: 10%;
    right: 10%;
    overflow: hidden;
}

#box div{
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    position: absolute;
    z-index: 999;
    animation-play-state: paused;
}
#div1{
    width: var(--size);
    left: var(--out);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
#div2{
    width: calc(var(--size)*4);
    left: calc(var(--out)*4);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .07s 1;
}
#div3{
    width: calc(var(--size)*12);
    left: calc(var(--out)*12);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .14s 1;
}
#div4{
    width: calc(var(--size)*18);
    left: calc(var(--out)*18);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .21s 1;
}
#div5{
    width: calc(var(--size)*25);
    left: calc(var(--out)*25);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .28s 1;
}
#div6{
    width: calc(var(--size)*32);
    left: calc(var(--out)*32);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .35s 1;
}
#div7{
    width: calc(var(--size)*39);
    left: calc(var(--out)*39);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .42s 1;
}
#div8{
    width: calc(var(--size)*46);
    left: calc(var(--out)*46);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .49s 1;
}
#div9{
    width: calc(var(--size)*39);
    left: calc(var(--out)*39);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .56s 1;
}
#div10{
    width: calc(var(--size)*32);
    left: calc(var(--out)*32);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .63s 1;
}
#div11{
    width: calc(var(--size)*25);
    left: calc(var(--out)*25);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .70s 1;
}
#div12{
    width: calc(var(--size)*18);
    left: calc(var(--out)*18);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .77s 1;
}
#div13{
    width: calc(var(--size)*12);
    left: calc(var(--out)*12);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .84s 1;
}
#div14{
    width: calc(var(--size)*4);
    left: calc(var(--out)*4);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .91s 1;
}
#div15{
    width: var(--size);
    left: var(--out);
    animation: move 2s cubic-bezier(0.19, 1, 0.22, 1) .98s 1;
}
@keyframes move {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1100px);
    }
}

/* ---------for Characters--------- */

#letter{
    width: 100px;
    height: 100px;
    /* background-color: white; */
    position: absolute;
    bottom: 10%;
    left: 5%;
    overflow: hidden;
    z-index: 4;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#letter h1{
    font-size: 100px;
    line-height: 100px;
    text-transform: uppercase;
    text-align: left;
    transition: font-size cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#single{
    font-size: 60px;
    position: absolute;
    bottom: 14%;
    right: 20px;
    opacity: 0;
    /* transform: translateX(100px); */
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 4;
}

/* ---------------------------------- */
#bigbox{
    width: 100%;
    height: 100%;
    background-color: rgba(102, 51, 153, 0);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#bigbox div{
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    animation-play-state: paused;
}

#bar1{
    width: var(--size);
    left: var(--out);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
#bar2{
    width: calc(var(--size)*4);
    left: calc(var(--out)*4);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .07s 1;
}
#bar3{
    width: calc(var(--size)*12);
    left: calc(var(--out)*12);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .14s 1;
}
#bar4{
    width: calc(var(--size)*18);
    left: calc(var(--out)*18);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .21s 1;
}
#bar5{
    width: calc(var(--size)*25);
    left: calc(var(--out)*25);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .28s 1;
}
#bar6{
    width: calc(var(--size)*32);
    left: calc(var(--out)*32);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .35s 1;
}
#bar7{
    width: calc(var(--size)*39);
    left: calc(var(--out)*39);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .42s 1;
}
#bar8{
    width: calc(var(--size)*46);
    left: calc(var(--out)*46);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .49s 1;
}
#bar9{
    width: calc(var(--size)*39);
    left: calc(var(--out)*39);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .56s 1;
}
#bar10{
    width: calc(var(--size)*32);
    left: calc(var(--out)*32);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .63s 1;
}
#bar11{
    width: calc(var(--size)*25);
    left: calc(var(--out)*25);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .70s 1;
}
#bar12{
    width: calc(var(--size)*18);
    left: calc(var(--out)*18);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .77s 1;
}
#bar13{
    width: calc(var(--size)*12);
    left: calc(var(--out)*12);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .84s 1;
}
#bar14{
    width: calc(var(--size)*4);
    left: calc(var(--out)*4);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .91s 1;
}
#bar15{
    width: var(--size);
    left: var(--out);
    animation: move2 2s cubic-bezier(0.19, 1, 0.22, 1) .98s 1;
}
@keyframes move2 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(1370px);
    }
}
/* ------------------------------------------------- */
#main2{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 3;
    padding: 1vw;
}

#rotatediv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 7%;
    transform-origin: 0 100%;
    transform: rotate(-90deg);
    bottom: 5%;
}
#rotatediv #line{
    width: 4vw;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.616);
    margin-left: 20px;
}

#rotatediv h1{
    font-size: 1.7vw;
}
#textdiv{
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(0,-50%);
}
.tani{
    transition: transform cubic-bezier(1,0,1,1.18) .7s,
                opacity cubic-bezier(1,0,1,1.18) .7s;
}
#textdiv h3{
    letter-spacing: -.5px;
    font-weight: 600;
    font-size: 1.4vw;
}
#textdiv h1{
    font-size: 3.5vw;
    line-height: 3.6vw;
    font-weight: 800;
}
#txt h1:nth-child(1){
    transition-delay: .1s;
}
#txt h1:nth-child(2){
    transition-delay: .13s;
}
/* .icon1{
    transition-delay: .13s;    
}
#icon2{
    transition-delay: .15s,.12s;
} */
#textdiv #txt{
    margin-top: 30px;
}
#icons{
    display: flex;
    align-items: center;
    margin-top: 30px;
}
#icons .icon2{
    margin-left: 25px;
}

#nav{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    right: 5%;
    top: 5%;
}
#square{
    width: 50%;
    height: 80%;
    background-color: papayawhip;
    position: absolute;
    right: 5%;
    top: 14%;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}
#square::-webkit-scrollbar{
    display: none;
}
#square .sec{
    width: 75%;
    height: 100%;
    background-color: greenyellow;
    display: flex;
    flex-shrink: 0;
    position: relative;
    transition: .5s;
}
#one img{
    height: 70%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-30%,-50%);
    z-index: 5;
}
#two img{
    height: 45%;
    position: absolute;
    top: 80%;
    left: -10%;
    z-index: 2;
    transform-origin: 100% 0%;
    transform: rotate(80deg);
}
#three img{
    height: 25%;
    transform: rotate(40deg);
    position: absolute;
    top: 40%;
}

#one{
    background: linear-gradient(to bottom right,#F5FF9F,#FFE98D,#FFD189,#FFBA91);
}
#two{
    background: linear-gradient(to bottom right,#00CEFF,#00E0F2,#3DEEDA,#85F9BC);
}
#three{
    background: linear-gradient(to bottom right,#F5FF9F,#FFE98D,#FFD189,#FFBA91);
}
#four{
    background: linear-gradient(to bottom right,#00CEFF,#00E0F2,#3DEEDA,#85F9BC);
}
#five{
    background: linear-gradient(to bottom right,#F5FF9F,#FFE98D,#FFD189,#FFBA91);
}
/* ----------------------------------------------- */
#layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    overflow: hidden;
}
#layer div{
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 1;
    animation-play-state: paused;
}

#slice1{
    width: var(--size);
    left: var(--out);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
#slice2{
    width: calc(var(--size)*4);
    left: calc(var(--out)*4);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .07s 1;
}
#slice3{
    width: calc(var(--size)*12);
    left: calc(var(--out)*12);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .14s 1;
}
#slice4{
    width: calc(var(--size)*18);
    left: calc(var(--out)*18);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .21s 1;
}
#slice5{
    width: calc(var(--size)*25);
    left: calc(var(--out)*25);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .28s 1;
}
#slice6{
    width: calc(var(--size)*32);
    left: calc(var(--out)*32);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .35s 1;
}
#slice7{
    width: calc(var(--size)*39);
    left: calc(var(--out)*39);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .42s 1;
}
#slice8{
    width: calc(var(--size)*46);
    left: calc(var(--out)*46);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .49s 1;
}
#slice9{
    width: calc(var(--size)*39);
    left: calc(var(--out)*39);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .56s 1;
}
#slice10{
    width: calc(var(--size)*32);
    left: calc(var(--out)*32);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .63s 1;
}
#slice11{
    width: calc(var(--size)*25);
    left: calc(var(--out)*25);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .70s 1;
}
#slice12{
    width: calc(var(--size)*18);
    left: calc(var(--out)*18);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .77s 1;
}
#slice13{
    width: calc(var(--size)*12);
    left: calc(var(--out)*12);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .84s 1;
}
#slice14{
    width: calc(var(--size)*4);
    left: calc(var(--out)*4);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .91s 1;
}
#slice15{
    width: var(--size);
    left: var(--out);
    animation: move3 2s cubic-bezier(0.19, 1, 0.22, 1) .98s 1;
}
@keyframes move3 {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(720px);
    }
}
/* -------------------------------------------- */

#navtop{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
#navtop span{
    font-size: 10px;
}
#navtop h3{
    font-size: 1.4vw;
}
#topleft #txtCtn h3 span{
    font-size: 18px;
}

#navtop #txtCtn{
    margin-top: 9px;
}
#navtop #topright i{
    position: fixed;
    right: 7%;
}
#btmtxt{
    position: absolute;
    bottom: 5%;
    left: 45%;
    transform: translate(-50%,-50%);
}
#btmtxt p{
    font-size: 1vw;
    line-height: 1.5vw;
}
#dots{
    margin-top: 20px;
}
#dots .dot{
    width: 6px;
    height: 6px;
    border-radius:6px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 35px;
    transition: .5s;
}
#dots .active{
    background-color: black;
    width: 12px;
}
#button{
    width: 10vw;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 6%;
    right: 5%;
    border-top-left-radius: 50px;
}
#button div:hover{
    /* background-color: #f76ac687; */
    background-image: linear-gradient(to right bottom, #f76ac67c, #f962be7c, #fb5ab67c, #fd52ad7c, #fe49a47c, #ff45937c, #ff44827c, #ff45727c, #ff53597c, #fc65407c, #f277267c, #e389007c);
}
#lftbtn{
    border-top-left-radius: 50px;
}
#lftbtn,#rightbtn{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#button h4{
    font-size: 1vw;
    white-space: nowrap;
    position: absolute;
    top: -2.5vw;
    left: 0;
}

.toandfro{
    animation: tofro .5s linear 4 alternate;
}

@keyframes tofro {
    0%{
        transform: translateX(5px) translate(-30%,-50%);
    }
    100%{
        transform: translate(0px) translate(-30%,-50%);
    }
}

.moveicon{
    animation: iconify 1.5s cubic-bezier(0.19, 1, 0.22, 1) 1 alternate-reverse;
}

@keyframes iconify {
    from{
        transform: translateX(0);
        opacity: 1;
    }
    to{
        transform: translateX(100px);
        opacity: 0;
    }
}

.disable{
    display: none;
}

.show{
    display: block;
}